path {
    
    stroke: darkgrey;
    stroke-width: .5px;
}
path:hover {
    fill: darkgrey;
}

svg {
    border : solid darkgrey 1px;
}
.hidden {
    display: none;
}
div.tooltip {
    color: black;
    background: gold;
    padding: .5em;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}